.masthead {
    height: 100vh;
    background-image: url('../lilzidesigns-3iUE4iEIdJw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.25);
  }

  .masthead::before {
    height: 100vh;
    min-height: 200px;
    background-image: url('../lilzidesigns-3iUE4iEIdJw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.btn {
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 5vh;
    transition: 1s;
    border-radius: 0;
    z-index: 5;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: white;
    color: lightgray;
  }

  .gradient-border {
    --borderWidth: 2px;
    background: #1D1F20;
    position: relative;
    opacity: 1;
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 7s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  .logo-txt {
    font-size: 25vh;
    color: #eee;
    animation-name: color-change;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.sub-txt {
    font-size: 7vh;
    color: #eee;
    opacity: 0;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.rainbow-nav {
    --angle: 0deg;
    border-bottom: 5px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    
    animation: 10s rotate linear infinite;
    }
    
    @keyframes rotate {
    to {
        --angle: 360deg;
    }
    }
    
    @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
    }